<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94881495909-mrkd07og2aocebtdip82rvda12i4r1vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94881495909-mrkd07og2aocebtdip82rvda12i4r1vi</string>
	<key>API_KEY</key>
	<string>AIzaSyAqQr2ZDExvjqNEQ712IoBKYmwlLNSUUC8</string>
	<key>GCM_SENDER_ID</key>
	<string>94881495909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iic.EduAR</string>
	<key>PROJECT_ID</key>
	<string>hadith-ar-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>hadith-ar-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94881495909:ios:c8f26cdd78e7f80361ff8c</string>
	<key>DATABASE_URL</key>
	<string>https://hadith-ar-beta.firebaseio.com</string>
</dict>
</plist>